<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order, <%= @order.email %></h1>
    <span>Your order total is: $<%@order.total_cents / 100%></span>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>




