<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; All Categories</h1>
  </header>

  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>

  <div class="list-group">
  <ul>
  <% @categories.each do |cat|%>
  <li class="list-group-item list-group-item-action"><%= link_to cat.name, cat%></li>
  <% end%>
  </ul>
  </div>
 

</section>