<div class="list-group">
  <li class="list-group-item list-group-item-warning">
    <h4 class="list-group-item-heading"><%= review.user.name %></h4>
    <p class="list-group-item-text"><%= review.description %></p>
  </li>
</div>