<div class="list-group">
  <li class="list-group-item list-group-item-warning">
    <h4 class="list-group-item-heading"><%= review.user.name %></h4>
    <div>
    <% review.rating.times do %>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <% end %>
    </div>
    <p class="list-group-item-text"><%= review.description %></p>
    <span><%= review.created_at.strftime('%D') %></span>
  </li> 
</div>